/Juce-Projects/KrakenDSP-Distortion/JuceLibraryCode/
/Juce-Projects/KrakenDSP-Distortion/Builds
/Juce-Projects/KrakenDSP-Tremolo/JuceLibraryCode/
/Juce-Projects/KrakenDSP-Tremolo/Builds
/Juce-Projects/KrakenDSP-Delay/JuceLibraryCode/
/Juce-Projects/KrakenDSP-Delay/Builds
/Juce-Projects/KrakenDSP-Chorus/JuceLibraryCode/
/Juce-Projects/KrakenDSP-Chorus/Builds
/Juce-Projects/KrakenDSP-CabinetModeler/JuceLibraryCode/
/Juce-Projects/KrakenDSP-CabinetModeler/Builds
